[submodule "better-docs"]
	path = better-docs
	url = git@github.com:SoftwareBrothers/better-docs.git
[submodule "adminjs"]
	path = adminjs
	url = git@github.com:SoftwareBrothers/adminjs.git
[submodule "adminjs-hapijs"]
	path = adminjs-hapijs
	url = git@github.com:SoftwareBrothers/adminjs-hapijs.git
[submodule "adminjs-mongoose"]
	path = adminjs-mongoose
	url = git@github.com:SoftwareBrothers/adminjs-mongoose.git
[submodule "adminjs-sequelizejs"]
	path = adminjs-sequelizejs
	url = git@github.com:SoftwareBrothers/adminjs-sequelizejs.git
[submodule "adminjs-example-app"]
	path = adminjs-example-app
	url = git@github.com:SoftwareBrothers/adminjs-example-app.git
[submodule "adminjs-expressjs"]
	path = adminjs-expressjs
	url = git@github.com:SoftwareBrothers/adminjs-expressjs.git
[submodule "adminjs-typeorm"]
	path = adminjs-typeorm
	url = git@github.com:SoftwareBrothers/adminjs-typeorm.git
[submodule "adminjs-firebase-functions"]
	path = adminjs-firebase-functions
	url = git@github.com:SoftwareBrothers/adminjs-firebase-functions.git
[submodule "adminjs-design-system"]
	path = adminjs-design-system
	url = git@github.com:SoftwareBrothers/adminjs-design-system.git
[submodule "adminjs-upload"]
	path = adminjs-upload
	url = git@github.com:SoftwareBrothers/adminjs-upload.git
[submodule "adminjs-passwords"]
	path = adminjs-passwords
	url = git@github.com:SoftwareBrothers/adminjs-passwords.git
[submodule "adminjs-nestjs"]
	path = adminjs-nestjs
	url = git@github.com:SoftwareBrothers/adminjs-nestjs.git
